.footer {
    background-color: black;
    position: absolute;
    /* bottom: 0; => Se deixar botton:0; ao adicionar container ele sobe */
    border-top: 2px solid greenyellow;
    padding-block: 15px;
    width: 100%;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
  p {
    color: rgb(19, 202, 172);
    align-items: center;
  }
  
