/* Footer.module.css */
.footer {
  background-color: #000; /* Fundo preto */
  color: #fff; /* Texto branco */
  text-align: center; /* Centraliza o texto */
  padding: 10px 0; /* Espaçamento interno no topo e na parte inferior */
  position: fixed; /* Fixa o rodapé no fundo da página */
  width: 100%; /* Faz com que o rodapé ocupe 100% da largura */
  bottom: 0; /* Posiciona o rodapé na parte inferior da página */
}
