.card {
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.card a {
    text-decoration: none;
}

.card img {
    width: 170px;
    height: 270px;
    border-radius: 8px;
}
.card span {
    padding: 5px;
    color: green;
    text-align: center;

}
