.search {
    display: flex;
    flex-direction: column;
    padding-top: 25px;    
}

h2 {
    color:  #58c9e8;    
}

input {
    background-color: rgb(222, 224, 226);
    width: 400px;
    height: 30px;
    align-items: center;
    border: 3px solid greenyellow;
    margin-bottom: 5px;    
}

header {
    margin-top: -30px;
}

footer {
    position: absolute;
}